<h3><%= "Hearing #{hearing.index + 1 }" %></h3>
<div class="field">
  <%= hearing.label :hearing_id, 'Hearing ID' %>
  <%= hearing.text_field :hearing_id %>
</div>
<div class="field">
  <%= hearing.label :sitting_day, 'Sitting Day' %>
  <%= hearing.text_field :sitting_day %>
</div>
<div class="field">
  <%= hearing.label :hearing_id, 'Hearing ID' %>
  <%= hearing.text_field :hearing_id %>
</div>
<div class="field">
  <%= hearing.label :sitting_day, 'Sitting Day' %>
  <%= hearing.text_field :sitting_day %>
</div>
<div class="field">
  <%= hearing.label :jurisdictionType, 'Jurisdiction Type' %>
  <%= hearing.select :jurisdictionType, Hearing::JURISDICTION_TYPES %>
</div>
<div class="field">
  <%= hearing.label :reportingRestrictionReason, 'Reporting Restriction Reason' %>
  <%= hearing.text_field :reportingRestrictionReason %>
</div>
<div class="field">
  <%= hearing.label :court_centre_id, 'Court Centre' %>
  <%= hearing.select :court_centre_id, HmctsCommonPlatform::Reference::CourtCentre.all.collect{ |cc| [cc.oucode_l3_name, cc.id ] } %>
</div>
<div class="field">
  <%= hearing.label :hearingLanguage, 'Hearing Language' %>
  <%= hearing.select :hearingLanguage, Hearing::LANGUAGES %>
</div>
<div class="field">
  <%= hearing.label :hasSharedResults, 'Has shared results' %>
  <%= hearing.check_box :hasSharedResults %>
</div>
<div class="field">
  <%= hearing.label :isEffectiveTrial, 'Is Effective Trial' %>
  <%= hearing.check_box :isEffectiveTrial %>
</div>
<div class="field">
  <%= hearing.label :isBoxHearing, 'Is Box Hearing' %>
  <%= hearing.check_box :isBoxHearing %>
</div>

<h4> Hearing Type: </h4>
<%= hearing.fields_for :hearing_type do |hearing_type| %>
  <div class="field">
    <%= hearing_type.label :description, 'Hearing Type description' %>
    <%= hearing_type.text_field :description %>
  </div>
<% end %>

<%= hearing.fields_for :hearing_days do |hearing_day| %>
  <h4> Hearing Day </h4>
  <div class="field">
    <%= hearing_day.label :court_centre_id, 'Court Centre ID' %>
    <%= hearing_day.text_field :court_centre_id %>
  </div>
  <div class="field">
    <%= hearing_day.label :courtRoomId, 'Court Room ID' %>
    <%= hearing_day.text_field :courtRoomId %>
  </div>
  <div class="field">
    <%= hearing_day.label :sittingDay, 'Sitting Day' %>
    <%= hearing_day.text_field :sittingDay %>
  </div>
  <div class="field">
    <%= hearing_day.label :listingSequence, 'Listing Sequence' %>
    <%= hearing_day.text_field :listingSequence %>
  </div>
  <div class="field">
    <%= hearing_day.label :listedDurationMinutes, 'Listed Duration Minutes' %>
    <%= hearing_day.text_field :listedDurationMinutes %>
  </div>
  <div class="field">
    <%= hearing_day.label :isCancelled, 'Is Cancelled' %>
    <%= hearing_day.check_box :isCancelled %>
  </div>
<% end %>
<hr>

