<div class="field">
  <%= offence.label :offenceDefinitionId, 'offenceDefinitionId' %>
  <%= offence.text_field :offenceDefinitionId %>
</div>
<div class="field">
  <%= offence.label :offenceCode, 'offenceCode' %>
  <%= offence.text_field :offenceCode %>
</div>
<div class="field">
  <%= offence.label :offenceTitle, 'offenceTitle' %>
  <%= offence.text_field :offenceTitle %>
</div>
<div class="field">
  <%= offence.label :offenceTitleWelsh, 'offenceTitleWelsh' %>
  <%= offence.text_field :offenceTitleWelsh %>
</div>
<div class="field">
  <%= offence.label :offenceLegislation, 'offenceLegislation' %>
  <%= offence.text_field :offenceLegislation %>
</div>
<div class="field">
  <%= offence.label :offenceLegislationWelsh, 'offenceLegislationWelsh' %>
  <%= offence.text_field :offenceLegislationWelsh %>
</div>
<div class="field">
  <%= offence.label :modeOfTrial, 'modeOfTrial' %>
  <%= offence.text_field :modeOfTrial %>
</div>
<div class="field">
  <%= offence.label :wording, 'wording' %>
  <%= offence.text_field :wording %>
</div>
<div class="field">
  <%= offence.label :wordingWelsh, 'wordingWelsh' %>
  <%= offence.text_field :wordingWelsh %>
</div>
<div class="field">
  <%= offence.label :startDate, 'startDate' %>
  <%= offence.text_field :startDate %>
</div>
<div class="field">
  <%= offence.label :endDate, 'endDate' %>
  <%= offence.text_field :endDate %>
</div>
<div class="field">
  <%= offence.label :arrestDate, 'arrestDate' %>
  <%= offence.text_field :arrestDate %>
</div>
<div class="field">
  <%= offence.label :chargeDate, 'chargeDate' %>
  <%= offence.text_field :chargeDate %>
</div>
<div class="field">
  <%= offence.label :dateOfInformation, 'dateOfInformation' %>
  <%= offence.text_field :dateOfInformation %>
</div>
<div class="field">
  <%= offence.label :orderIndex, 'orderIndex' %>
  <%= offence.text_field :orderIndex %>
</div>
<div class="field">
  <%= offence.label :count, 'count' %>
  <%= offence.text_field :count %>
</div>
<div class="field">
  <%= offence.label :convictionDate, 'convictionDate' %>
  <%= offence.text_field :convictionDate %>
</div>
<div class="field">
  <%= offence.label :aquittalDate, 'aquittalDate' %>
  <%= offence.text_field :aquittalDate %>
</div>
<div class="field">
  <%= offence.label :isDisposed, 'isDisposed' %>
  <%= offence.check_box :isDisposed %>
</div>
<div class="field">
  <%= offence.label :isDiscontinued, 'isDiscontinued' %>
  <%= offence.check_box :isDiscontinued %>
</div>
<div class="field">
  <%= offence.label :isIntroduceAfterInitialProceedings, 'isIntroduceAfterInitialProceedings' %>
  <%= offence.check_box :isIntroduceAfterInitialProceedings %>
</div>
<div class="field">
  <%= offence.label :splitProsecutorCaseReference, 'splitProsecutorCaseReference' %>
  <%= offence.text_field :splitProsecutorCaseReference %>
</div>
<div class="field">
  <%= offence.label :mergedProsecutionCaseReference, 'mergedProsecutionCaseReference' %>
  <%= offence.text_field :mergedProsecutionCaseReference %>
</div>
<div class="field">
  <%= offence.label :dvlaCode, 'dvlaCode' %>
  <%= offence.text_field :dvlaCode %>
</div>
<div class="field">
  <%= offence.label :laidDate, 'laidDate' %>
  <%= offence.text_field :laidDate %>
</div>
<div class="field">
  <%= offence.label :proceedingsConcluded, 'proceedingsConcluded' %>
  <%= offence.check_box :proceedingsConcluded %>
</div>
<div class="field">
  <%= offence.label :pendingCBPW, 'pendingCBPW' %>
  <%= offence.check_box :pendingCBPW %>
</div>
<div class="field">
  <%= offence.label :civilOffence, 'civilOffence' %>
  <%= offence.check_box :civilOffence %>
</div>
<hr>
