<p id="notice"><%= notice %></p>

<% @prosecution_case.attributes.each do |key, value| %>
  <p>
    <strong><%= key.humanize %></strong>
    <%= value %>
  </p>
<% end %>

<h2>Defendants</h2>
<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @prosecution_case.defendants.each do |defendant| %>
      <tr>
        <td>
          <%= defendant.id %>
        </td>
        <td>
          <%= defendant.defendable.person.firstName %> <%= defendant.defendable.person.middleName %> <%= defendant.defendable.person.lastName %>
        </td>
        <td><%= link_to 'Show', [:admin, defendant] %></td>
        <td><%= link_to 'Edit', edit_admin_defendant_path(defendant) %></td>
        <td><%= link_to 'Destroy', [:admin, defendant], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Defendant', new_admin_prosecution_case_defendant_path(@prosecution_case) %>
<br/>
<h2>Hearings</h2>
<% @prosecution_case.hearings.each do |hearing| %>
  <p><%= hearing.id %></p>

  <% if hearing.resulted? %>
    Hearing has been resulted
  <% else %>
    <%= button_to 'Result hearing', result_hearing_admin_prosecution_case_path(@prosecution_case, hearing.id) %>
  <% end %>

  <% Rails.configuration.laa_connection.keys.each do |type| %>
    <br/>
    <%= button_to "Result and Publish to #{type.to_s}", result_hearing_admin_prosecution_case_path(@prosecution_case, hearing.id, type) %>
  <% end %>
  <hr/>
<% end %>

<%= link_to 'Edit', edit_admin_prosecution_case_path(@prosecution_case) %> |
<%= link_to 'Back', admin_prosecution_cases_path %>
