<p id="notice"><%= notice %></p>

<% @prosecution_case.attributes.each do |key, value| %>
  <p>
    <strong><%= key.humanize %></strong>
    <%= value %>
  </p>
<% end %>

<h2>Defendants</h2>
<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @prosecution_case.defendants.each do |defendant| %>
      <tr>
        <td>
          <%= defendant.id %>
        </td>
        <td>
          <%= defendant.defendable.person.firstName %> <%= defendant.defendable.person.middleName %> <%= defendant.defendable.person.lastName %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Hearings</h2>

<table>
  <thead>
    <tr>
      <th>Hearing ID</th>
      <th>Result Shared</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @prosecution_case.hearings.each do |hearing| %>
      <tr>
        <td><%= hearing.id %></td>
        <td><%= hearing.resulted? ? 'Result shared' : '' %></td>
        <td><%= link_to 'Show', [:admin, hearing] %></td>
        <td><%= link_to 'Edit', edit_admin_hearing_path(hearing) %></td>
        <td><%= link_to 'Destroy', [:admin, hearing], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td colspan="5">
          <% unless hearing.resulted? %>
            <%= button_to 'Result hearing', result_hearing_admin_prosecution_case_path(@prosecution_case, hearing.id) %>
          <% end %>

          <% Rails.configuration.laa_connection.keys.each do |type| %>
            <%= button_to "Result and Publish to #{type.to_s}", result_hearing_admin_prosecution_case_path(@prosecution_case, hearing.id, type) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<br/>
<%= link_to 'Add new hearing', new_admin_prosecution_case_hearing_path(@prosecution_case) %>
<br/>
<br/>

<%= link_to 'Edit', edit_admin_prosecution_case_path(@prosecution_case) %> |
<%= link_to 'Back', admin_prosecution_cases_path %>
