<h2>Court Application Hearings</h2>
<ul>
  <% @court_application_hearings.each_with_index do |hearing, index| %>
  <li>
    <strong><%= hearing.id %></strong>
    <% @env_options.each do |option| %>
      <%=
        button_to "Result and Publish to #{option[0]}",
                  admin_court_application_result_hearing_path(@court_application, hearing.id, option[1]),
                  :id => "result-hearing-#{option[1]}",
                  :target_env => option[1],
                  :button_group => "environment_based",
                  :style => (option[1] == @default_env ? "display: block;" : "display: none;")
      %>
    <% end %>
    <%= link_to'remove', admin_court_application_hearing_destroy_url(court_application_id: @court_application.id, hearing_id: hearing.id), method: :delete  %>
  </li>
  <% end %>
</ul>

<h3>Available prosecution case hearings</h3>
<ul class="hearing-listings">
  <% @prosecution_case_hearings.reject { |hearing| @court_application_hearings.map(&:id).include?(hearing.id) }.each_with_index do |hearing, index| %>
  <li>
    <strong><%= hearing.hearing_id %></strong>
    <%= link_to'Add', admin_court_application_hearing_create_url(court_application_id: @court_application.id, hearing_id: hearing.id), method: :post  %>
  </li>
  <% end %>
</ul>



