<p id="notice"><%= notice %></p>

<h1>Court Application</h1>

<% @court_application.attributes.each do |key, value| %>
  <p><strong><%= key %></strong>: <%= value %></p>
<% end %>

<hr />

<%= link_to 'Edit', edit_admin_court_application_path(@court_application) %> |
<%= link_to 'Back to hearing', admin_hearing_path(@court_application.hearing_id) %>
