<p id="notice"><%= notice %></p>

<h1>Court Application</h1>

<% @court_application.attributes.each do |key, value| %>
  <p><strong><%= key %></strong>: <%= value %></p>
<% end %>

<h2>Judicial results</h2>

<% @court_application.judicial_results.each do |judicial_result| %>
  <% judicial_result.attributes.each do |key, value| %>
    <p><strong><%= key %></strong>: <%= value %></p>
  <% end %>
<% end %>


<hr />

<%= link_to 'Edit', edit_admin_court_application_path(@court_application) %> |
<%= link_to 'Back to hearing', admin_hearing_path(@court_application.hearing_id) %>
