<p id="notice"><%= notice %></p>

<h1>Court Application</h1>

<ul>
  <% @court_application.attributes.each do |key, value| %>
    <li><strong><%= key %></strong>: <%= value %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_admin_court_application_path(@court_application) %>
<% if  @court_application.defendant.present? %>
  <h3>Conclusion options</h3>
  <%= select_tag :environment_select, options_for_select(@env_options, @default_env) %>
  <br><br>
  <% @env_options.each do |option| %>
    <%=
      button_to "Conclude and Publish to #{option[0]}",
                admin_application_conclusions_path(@court_application.id, option[1]),
                :id => "publish-application-#{option[1]}",
                :target_env => option[1],
                :button_group => "environment_based",
                :style => (option[1] == @default_env ? "display: block;" : "display: none;")
    %>
  <% end %>
<% end %>

<% if  @court_application.defendant.present? %>
  <%= render 'hearings' %>
<% end %>

<h2>Court Application Type</h2>

<ul>
  <% @court_application.court_application_type.attributes.each do |key, value| %>
    <li><strong><%= key %></strong>: <%= value %></li>
  <% end %>
</ul>

<%= link_to 'Edit Court Application Type', edit_admin_court_application_court_application_type_path(@court_application) %>
<h2>Respondents</h2>

<% @court_application.respondents.each_with_index do |respondent, index| %>
  <h3>Respondent <%= index + 1 %></h3>

  <ul>
    <% respondent.attributes.each do |key, value| %>
      <li><strong><%= key %></strong>: <%= value %></li>
    <% end %>
  </ul>
<% end %>

<h2>Judicial Results</h2>

<% @court_application.judicial_results.each_with_index do |judicial_result, index| %>
  <h3>Judicial result <%= index + 1 %></h3>

  <ul>
    <% judicial_result.attributes.each do |key, value| %>
      <li><strong><%= key %></strong>: <%= value %></li>
    <% end %>
  </ul>
<% end %>


<h2>Prosecution cases</h2>
<ul>
  <% @court_application.prosecution_cases.each do |prosecution_case| %>
    <li>
      <%= link_to prosecution_case.prosecution_case_identifier.caseURN, admin_prosecution_case_path(prosecution_case) %>
    </li>
  <% end %>
</ul>

<% if @available_cases&.any? %>
  <h3>Available prosecution cases</h3>
  <ul>
    <% @available_cases.each do |prosecution_case| %>
      <li>
        <%= prosecution_case.prosecution_case_identifier.caseURN %>
        <%= button_to "Associate", associate_court_application_admin_prosecution_case_path(prosecution_case, @court_application) %>
      </li>
    <% end %>
  </ul>
<% end %>
<hr>


<div class="links">
<% if @court_application.defendant %>
  <%= link_to 'Back to Defendant', admin_defendant_path(@court_application.defendant) %>
<% end %>
</div>
<div class="links">
<% if @court_application.hearing %>
  <%= link_to 'Back to Hearing', admin_hearing_path(@court_application.hearing) %>
<% end %>
</div>
