<div class="nested-fields">
  <div class="field">
    <%= f.label :code, 'Code' %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :type, 'Type'%>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :legislation, 'Legislation' %>
    <%= f.text_field :legislation %>
  </div>

  <div class="field">
    <%= f.label :applicantAppellantFlag, 'Applicant Appellant Flag' %>
    <%= f.text_field :applicantAppellantFlag %>
  </div>
  <div class="field">
    <%= f.label :has_offences, 'Has offences' %>
    <%= f.check_box :has_offences %>
  </div>
</div>
