<div class="nested-fields">
  <div class="field">
    <%= f.label :code, 'Code and Title' %>
    <%= f.select :code,
                 options_for_select(@codes_and_titles, @court_application_type.code),
                 include_blank: "Select an application type" , :required => true%>
  </div>
  <div class="field">
    <%= f.label :legislation, 'Legislation' %>
    <%= f.text_field :legislation %>
  </div>

  <div class="field">
    <%= f.label :applicantAppellantFlag, 'Applicant Appellant Flag' %>
    <%= f.text_field :applicantAppellantFlag %>
  </div>
  <div class="field">
    <%= f.label :has_offences, 'Has offences' %>
    <%= f.check_box :has_offences %>
  </div>
</div>
