<%= form_with(model: offence, url: url, local: true) do |f| %>
  <% if @offence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offence.errors.count, "error") %> prohibited this offence from being saved:</h2>

      <ul>
        <% @offence.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'fields', offence: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
