<%= form_with(model: offence, url: url, local: true) do |f| %>
  <% if offence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offence.errors.count, "error") %> prohibited this hearing from being saved:</h2>

      <ul>
        <% offence.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :offenceDefinitionId, 'offenceDefinitionId' %>
    <%= f.text_field :offenceDefinitionId %>
  </div>

  <div class="field">
    <%= f.label :offenceCode, 'offenceCode' %>
    <%= f.text_field :offenceCode %>
  </div>

  <div class="field">
    <%= f.label :offenceTitle, 'offenceTitle' %>
    <%= f.text_field :offenceTitle %>
  </div>

  <div class="field">
    <%= f.label :offenceTitleWelsh, 'offenceTitleWelsh' %>
    <%= f.text_field :offenceTitleWelsh %>
  </div>

  <div class="field">
    <%= f.label :offenceLegislation, 'offenceLegislation' %>
    <%= f.text_field :offenceLegislation %>
  </div>

  <div class="field">
    <%= f.label :offenceLegislationWelsh, 'offenceLegislationWelsh' %>
    <%= f.text_field :offenceLegislationWelsh %>
  </div>

  <div class="field">
    <%= f.label :modeOfTrial, 'modeOfTrial' %>
    <%= f.text_field :modeOfTrial %>
  </div>

  <div class="field">
    <%= f.label :wording, 'wording' %>
    <%= f.text_field :wording %>
  </div>

  <div class="field">
    <%= f.label :wordingWelsh, 'wordingWelsh' %>
    <%= f.text_field :wordingWelsh %>
  </div>

  <div class="field">
    <%= f.label :startDate, 'startDate' %>
    <%= f.text_field :startDate %>
  </div>

  <div class="field">
    <%= f.label :endDate, 'endDate' %>
    <%= f.text_field :endDate %>
  </div>

  <div class="field">
    <%= f.label :arrestDate, 'arrestDate' %>
    <%= f.text_field :arrestDate %>
  </div>

  <div class="field">
    <%= f.label :chargeDate, 'chargeDate' %>
    <%= f.text_field :chargeDate %>
  </div>

  <div class="field">
    <%= f.label :dateOfInformation, 'dateOfInformation' %>
    <%= f.text_field :dateOfInformation %>
  </div>

  <div class="field">
    <%= f.label :orderIndex, 'orderIndex' %>
    <%= f.text_field :orderIndex, class: 'order-index' %>
  </div>

  <div class="field">
    <%= f.label :count, 'count' %>
    <%= f.text_field :count %>
  </div>

  <div class="field">
    <%= f.label :convictionDate, 'convictionDate' %>
    <%= f.text_field :convictionDate %>
  </div>

  <div class="field">
    <%= f.label :aquittalDate, 'aquittalDate' %>
    <%= f.text_field :aquittalDate %>
  </div>

  <div class="field">
    <%= f.label :isDisposed, 'isDisposed' %>
    <%= f.check_box :isDisposed %>
  </div>

  <div class="field">
    <%= f.label :isDiscontinued, 'isDiscontinued' %>
    <%= f.check_box :isDiscontinued %>
  </div>

  <div class="field">
    <%= f.label :isIntroduceAfterInitialProceedings, 'isIntroduceAfterInitialProceedings' %>
    <%= f.check_box :isIntroduceAfterInitialProceedings %>
  </div>

  <div class="field">
    <%= f.label :splitProsecutorCaseReference, 'splitProsecutorCaseReference' %>
    <%= f.text_field :splitProsecutorCaseReference %>
  </div>

  <div class="field">
    <%= f.label :mergedProsecutionCaseReference, 'mergedProsecutionCaseReference' %>
    <%= f.text_field :mergedProsecutionCaseReference %>
  </div>

  <div class="field">
    <%= f.label :dvlaCode, 'dvlaCode' %>
    <%= f.text_field :dvlaCode %>
  </div>

  <div class="field">
    <%= f.label :laidDate, 'laidDate' %>
    <%= f.text_field :laidDate %>
  </div>

  <div class="field">
    <%= f.label :proceedingsConcluded, 'proceedingsConcluded' %>
    <%= f.check_box :proceedingsConcluded %>
  </div>

  <div class="field">
    <%= f.label :pendingCBPW, 'pendingCBPW' %>
    <%= f.check_box :pendingCBPW %>
  </div>

  <div class="field">
    <%= f.label :civilOffence, 'civilOffence' %>
    <%= f.check_box :civilOffence %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
