<%= form_with(model: [:admin, defendant], url: url, local: true) do |form| %>
  <% if defendant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(defendant.errors.count, "error") %> prohibited this defendant from being saved:</h2>

      <ul>
        <% defendant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'defendant', defendant: form %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
