<p id="notice"><%= notice %></p>

<h1>Judicial Result</h1>

<% @judicial_result.attributes.each do |key, value| %>
  <p><strong><%= key %></strong>: <%= value %></p>
<% end %>

<h2>Next hearing</h2>

<% @judicial_result.next_hearing.attributes.each do |key, value| %>
  <p><strong><%= key %></strong>: <%= value %></p>
<% end %>

<hr />

<p><%= link_to "Edit judicial result", edit_admin_judicial_result_path(@judicial_result) %></p>
<p><%= link_to "Delete judicial result", admin_judicial_result_path(@judicial_result), method: "DELETE" %></p>
<%= link_to 'Back to hearing', admin_hearing_path(@judicial_result.hearing_id) %>
