<p id="notice"><%= notice %></p>

<h1>Judicial Result</h1>

<% @judicial_result.attributes.each do |key, value| %>
  <p><strong><%= key %></strong>: <%= value %></p>
<% end %>

<h2>Next hearing</h2>

<% @judicial_result.next_hearing.attributes.each do |key, value| %>
  <p><strong><%= key %></strong>: <%= value %></p>
<% end %>

<hr>

<%= link_to "Edit", edit_admin_judicial_result_path(@judicial_result) %> |
<%= link_to 'Back', admin_hearing_path(@judicial_result.hearing_id) %>
