<p id="notice"><%= notice %></p>

<h1>Judicial Result</h1>

<% @judicial_result.attributes.each do |key, value| %>
  <p><strong><%= key %></strong>: <%= value %></p>
<% end %>

<h2>Next hearing</h2>

<% @judicial_result.next_hearing.attributes.each do |key, value| %>
  <p><strong><%= key %></strong>: <%= value %></p>
<% end %>

<hr />

<p><%= link_to "Edit judicial result", edit_judicial_result_admin_hearing_path(@hearing, @offence, @judicial_result) %></p>
<p><%= link_to "Delete judicial result", delete_judicial_result_admin_hearing_path(@hearing, @offence, @judicial_result), method: "DELETE" %></p>
