<div class="nested-fields">
  <div class="field">
    <%= f.label :sittingDay, 'Sitting Day' %>
    <%= f.text_field :sittingDay %>
  </div>

  <div class="field">
    <%= f.label :listingSequence, 'Listing Sequence'%>
    <%= f.text_field :listingSequence %>
  </div>

  <div class="field">
    <%= f.label :listedDurationMinutes, 'Listed Duration Minutes' %>
    <%= f.text_field :listedDurationMinutes %>
  </div>

  <div class="field">
    <%= f.label :isCancelled, 'Is Cancelled' %>
    <%= f.check_box :isCancelled %>
  </div>

  <div class="field">
    <%= f.label :courtRoomId, 'Court Room Id' %>
    <%= f.text_field :courtRoomId %>
  </div>

  <div class="field">
    <%= f.label :court_centre_id, 'Court Centre' %>
    <%= f.select :court_centre_id, CourtCentre.all.map { |cc| [cc.name, cc.id ] }.sort %>
  </div>
</div>
