<p id="notice"><%= notice %></p>

<h1>Hearing Day</h1>

<p><strong>ID</strong>: <%= @hearing_day.id %></p>
<p><strong>Location</strong>: <%= @hearing_day.court_centre&.name %></p>
<p><strong>Court Centre ID</strong>: <%= @hearing_day.court_centre_id %></p>
<p><strong>Court Room ID</strong>: <%= @hearing_day.courtRoomId %></p>
<p><strong>Sitting Day</strong>: <%= @hearing_day.sittingDay %></p>
<p><strong>Listing Sequence</strong>: <%= @hearing_day.listingSequence %></p>
<p><strong>Listed Duration Minutes</strong>: <%= @hearing_day.listedDurationMinutes %></p>
<p><strong>Is Cancelled</strong>: <%= @hearing_day.isCancelled %></p>

<hr>

<%= link_to "Edit", edit_admin_hearing_day_path(@hearing_day) %> |
<%= link_to 'Back', admin_hearing_path(@hearing_day.hearing_id) %>
