<p id="notice"><%= notice %></p>

<h1>Hearing Day</h1>

<strong>ID</strong>: <%= @hearing_day.id %>
<br>
<br>
<strong>Location</strong>: <%= @hearing_day.court_centre.name %>
<br>
<br>
<strong>Court Centre ID</strong>: <%= @hearing_day.court_centre_id %>
<br>
<br>
<strong>Court Room ID</strong>: <%= @hearing_day.courtRoomId %>
<br>
<br>
<strong>Sitting Day</strong>: <%= @hearing_day.sittingDay %>
<br>
<br>
<strong>Listing Sequence</strong>: <%= @hearing_day.listingSequence %>
<br>
<br>
<strong>Listed Duration Minutes</strong>: <%= @hearing_day.listedDurationMinutes %>
<br>
<br>
<strong>Is Cancelled</strong>: <%= @hearing_day.isCancelled %>
<br>

<hr>

<%= link_to "Edit", edit_admin_hearing_day_path(@hearing_day) %> |
<%= link_to 'Back', admin_hearing_path(@hearing_day.hearing_id) %>
