<p id="notice"><%= notice %></p>

<h1>Hearing Day</h1>

<% @hearing_day.attributes.each do |key, value| %>
  <p><strong><%= key %></strong>: <%= value %></p>
<% end %>

<hr />

<p><%= link_to "Edit hearing day", edit_admin_hearing_day_path(@hearing_day) %></p>
<p><%= link_to "Delete hearing day", admin_hearing_day_path(@hearing_day), method: "DELETE" %></p>
