<div class="nested-fields">
  <div class="field mot-desc">
    <%= f.hidden_field :hearing_id, value: @hearing.id %>
    <%= f.label :motReasonDescription, "MOT Reason Description" %>
    <%= f.select :motReasonDescription, options_for_select(ModeOfTrialReason.all.map{ |mot| [mot.reason_description,
    { "data-mot-code": mot.reason_code}]}, @hearing.offences[0].allocation_decisions[0]['motReasonDescription'] || nil) %>
  </div>

  <script type="text/javascript">
  const motDescription = document.querySelector('.mot-desc select')
  motDescription.addEventListener('change', (event) => {
    const selectedOption = event.target.options[event.target.selectedIndex]
    const motCode = selectedOption.dataset.motCode
    const reasonCode = document.querySelector('.mot-code')
    reasonCode.value = motCode
  })
  </script>

  <div class="field">
    <%= f.label :motReasonCode, 'MOT Reason Code' %>
    <%= f.text_field :motReasonCode, class: 'mot-code' %>
  </div>

  <div class="field">
    <%= f.label :allocationDecisionDate, 'Allocation Decision Date' %>
    <%= f.text_field :allocationDecisionDate %>
  </div>

  <%= link_to_remove_association "remove allocation decision", f %>
</div>
