<div class="nested-fields">
  <div class="field">
    <%= f.hidden_field :hearing_id, value: @hearing.id %>
    <%= f.label :verdictDate, 'Verdict Date' %>
    <%= f.text_field :verdictDate %>
  </div>

  <%= f.fields_for :verdict_type do |verdict_type| %>
    <div class="field">
      <%= verdict_type.label :description, 'Description' %>
      <%= verdict_type.text_field :description %>
    </div>
    <div class="field">
      <%= verdict_type.label :category, 'Category' %>
      <%= verdict_type.text_field :category %>
    </div>
    <div class="field">
      <%= verdict_type.label :categoryType, 'Category Type' %>
      <%= verdict_type.text_field :categoryType %>
    </div>
    <div class="field">
      <%= verdict_type.label :verdict_code, 'Verdict Code' %>
      <%= verdict_type.text_field :verdict_code %>
    </div>
  <% end %>

  <%= link_to_remove_association "remove verdict", f %>
</div>
