<div class="nested-fields">
  <div class="field">
    <%= f.hidden_field :hearing_id, value: @hearing.id %>
    <%= f.label :verdictDate, 'Verdict Date' %>
    <%= f.text_field :verdictDate %>
  </div>

  <%= f.fields_for :verdict_type do |verdict_type| %>
    <div class="field">
      <%= verdict_type.label :description, 'Verdict Description' %>
      <br></br>
      <%= verdict_type.select :description, VerdictType::DESCRIPTIONS_CATEGORIES_TYPES_DATA.keys %>
    </div>
  <% end %>

  <%= link_to_remove_association "remove verdict", f %>
</div>
