<div class="nested-fields">
  <div class="field">
    <%= f.hidden_field :hearing_id, value: @hearing.id %>
    <%= f.label :verdictDate, 'Verdict Date' %>
    <%= f.text_field :verdictDate %>
  </div>

  <%= f.fields_for :verdict_type do |verdict_type| %>
    <div class="field">
      <%= verdict_type.label :categoryType, 'Verdict Category Type' %>
      <%= verdict_type.select :categoryType, VerdictType::CATEGORY_TYPES.keys %>
    </div>
  <% end %>

  <%= link_to_remove_association "remove verdict", f %>
</div>
