<p id="notice"><%= notice %></p>

<h1>Hearing <%= @hearing.id %> </h1>

<h2>Location</h2>
<li><%= @hearing.court_centre.name %></li>

<h2>Days</h2>
<ol>
<% @hearing.hearing_days.each do |hearing_day| %>
  <li><%= hearing_day.sittingDay.to_date %></li>
<% end %>
</ol>

<h2>Defendants</h2>

<% @hearing.defendants.each do |defendant| %>

  <ul>
    <li><%= defendant.name %></li>
  </ul>

  <% defendant.offences.each do |offence| %>
      <h3>Offences</h3>
      <ul>
        <li><%= offence.offenceTitle %></li>
      </ul>
      
      <h4>Plea</h4>
      <% offence.pleas.each do |plea| %>
        <%= plea.pleaValue %>
      <% end %>

      <h4>Judicial Result</h4>
      <% offence.judicial_results.each do |judicial_result| %>
        <%= judicial_result %>
      <% end %>

    <% end %>
<% end %>


<%= link_to 'Edit', edit_admin_hearing_path(@hearing) %> |
<%= link_to 'Back', admin_prosecution_case_path(@prosecution_case) %>
