<p id="notice"><%= notice %></p>

<h1>Hearing</h1>

<p>ID: <%= @hearing.id %></p>
<p>Location: <%= @hearing.court_centre.name %></p>

<h2>Days</h2>

<ol>
  <% @hearing.hearing_days.each do |hearing_day| %>
    <li><%= hearing_day.sittingDay.to_date %></li>
  <% end %>
</ol>

<h2>Defendants</h2>

<% @hearing.defendants.each do |defendant| %>
  <ul>
    <li>Name: <%= defendant.name %></li>
  </ul>

  <h3>Offences</h3>

  <% defendant.offences.each do |offence| %>

      <ul>
        <li>
          <%= offence.offenceTitle %>

          <p>Judicial results:</p>
          <ul>
            <% offence.judicial_results.each do |judicial_result| %>
              <li>Text: <%= link_to judicial_result.resultText, judicial_result_admin_hearing_path(@hearing, offence, judicial_result) %></li>
              <p>Next hearing: <%= judicial_result.next_hearing.listedStartDateTime %> (estimated length: <%= judicial_result.next_hearing.estimatedMinutes %> minutes)</p>
            <% end %>
          </ul>

          <p>Pleas:</p>
          <ul>
            <% offence.pleas.each do |plea| %>
              <li><%= plea.pleaValue %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    <% end %>
<% end %>

<hr />

<%= link_to 'Edit', edit_admin_hearing_path(@hearing) %> |
<%= link_to 'Back', admin_prosecution_case_path(@prosecution_case) %>
